@use './_animations.scss' as *;
@use './_media.scss' as *;

// best seen at 1500px or less
html {
  font-size: 62.5%;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
}

p {
  color: white;
  font-family: calibri, sans-serif;
  font-size: 2.25vw; /* Base font size as percentage of viewport width */
  opacity: 0.6;
  font-weight: 600;
}

#header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(circle, #fffb96 18%, #86cfd9 19%, #5da9ac 47% );

  &--hidden {
    transform: translate(0, -150%);
  }
}

#cta {
  font-size: 2rem;
  position: absolute;
  z-index: 999;
}

main {
  width: 100vw;
  position: relative;
  background-color: rgb(84, 194, 224);
  overflow-x: hidden;
  height: 200rem;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 50vw;
  padding: 2rem;
  transform-origin: top left;
  transform: translate(-50%, -50%);
  animation: heading 2s ease-in-out;
  filter: drop-shadow(0px 0px 8px #303f61);
}

.underwater {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
}

.mountain {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.clouds {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  &__cloud {
    top: 1rem;
    width: 20rem;
    position: absolute;
    animation: clouds infinite linear;
    &:nth-child(2n) {
      animation-direction: reverse;
    }
  }
  // bad attempt at making the clouds more random. they start of looking kinda shit but gets better after the animation
  // runs a few times. this could probably be done in js but this should be more efficent.
  @for $i from 1 through 6 {
    &__cloud:nth-child(#{$i}) {
      opacity: #{$i / 7};
      animation-duration: #{10 + $i * 5}s;
      animation-delay: -#{$i * 20}s;
      scale: #{1 + $i * .25};
      top: #{$i * 4}rem;
    }
  }
}

.boat {
  position: absolute;
  width: 30rem;
  left: 10vw;
  bottom: 0;
  animation: bob 2.8s ease-in-out infinite;
  &__image {
    animation: float 2s ease-in-out infinite;
    transform-origin: center bottom;
    width: 100%;
    img {
      transform: scaleX(-1);
    }
  }
}

.wave {
  position: absolute;
  width: 100%;
  bottom: -1rem;
  height: 10rem;
  background: url(../../images/waves.png) repeat-x;
  background-size: 1800px 50px;
  animation: bgscroll 10s infinite linear;
}

.crosshair {
  position: fixed;
  width: 5rem;
  height: 5rem;
  background-color: #ffffff31;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;

  &--text {
    font-size: 1.5rem;
    border-radius: 0;
  }
}

.sprite {
  width: 200px;
  height: 80px;
  background-image: url('/images/sprite.png');
  background-repeat: no-repeat;
  background-size: calc(3154px / 4) calc(1068px / 3);
  position: absolute;
}

.map_obj {
  position: absolute;
  img {
    width: 100%;
  }
}
.collider {
  position: relative;
}

.mantaFamily {
  position: absolute;
  top: 6%;
  right: 6%;
  height: 30vw;
  width: 30vw;
  opacity: 0.6;
  padding: 1%;
}

//Large jellyfish familiy
.jellyFamily {
  position: absolute;
  top: 0;
  left: 10%;
  height: 30vw;
  width: 30vw;
  opacity: 0.6;
  padding: 1%;
}

//small jellyfish family
.jellyFamilyTwo {
  position: absolute;
  top: 60%;
  right: 0%;
  height: 30vh;
  width: 30vw;
  opacity: 0.3;
  padding: 1%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000000 0%, #ffffff00 100%);
  z-index: 999;
}

#playerbox {
  position: absolute;
  width: 10rem;
  transform: translate(-50%, -50%);
  height: 10rem;
}

#overfishing {
  position: absolute; 
  display: flex;
  width: 70%; 
  height: 70%; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
}

#plastic {
  position: absolute; 
  display: flex;
  width: 70%; 
  height: 70%; 
  left: 37%; 
  top: 95%; 
  transform: translate(-50%, -50%);
}

#shipping {
  position: absolute; 
  display: flex;
  width: 30%; 
  height: 70%; 
  left: 63%; 
  top: 70%; 
  font-size: 1.5vw;
  transform: translate(-50%, -50%);
}

#temperature {
  position: absolute; 
  display: flex;
  width: 30%; 
  height: 70%; 
  left: 20%; 
  top: 35%; 
  transform: translate(-50%, -50%);
}

#oil {
  position: absolute; 
  display: flex;
  width: 25%; 
  height: 70%; 
  left: 72%;
  top: 55%; 
  transform: translate(-50%, -50%);
}

#whale {
  position: absolute;
  height: 20vh;
  width: auto;
  opacity: 0.2;
  top: 55%;
  right: 20%;
  transform: scaleX(-1);
}

#shark {
  position: absolute;
  height: 8vw;
  top: 60%;
  left: 5%;
  opacity: 0.5;
}

#mantaRay {
  animation: swim-one 5s infinite linear;
  position: absolute;
  top: 30%;
  right: 20%;
  height: 10vw;
  width: auto;
}

#mantaRayOne {
  animation: swim-two 6s infinite linear;
  height: 7vw;
  width: auto;
}

#mantaRayTwo {
  height: 5vw;
  animation: swim-three 4s infinite linear;
}

#jellyFish {
  position: absolute;
  animation: swim-jelly-one 5s infinite;
  height: 7vw;
  width: auto;
  top: 40%;
  right: 35%;
}
#jellyFishTwo {
  position: absolute;
  height: 6vw;
  width: auto;
  top: 20%;
  transform: scaleX(-1);
  animation: swim-jelly-two 6s infinite;
  right: 50%;
}

#jellyFishThree {
  height: 8vw;
  position: absolute;
  animation: swim-jelly-three 4s infinite;
  left: 20%;
  top: 46%;
}

#jellyFishFour {
  position: absolute;
  animation: swim-jelly-one 5s infinite;
  height: 4.5vw;
  top: 30%;
  right: 45%;
}

#jellyFishFive {
  position: absolute;
  transform: scaleX(-1);
  height: 5vw;
  animation: swim-jelly-two 6s infinite;
  right: 50%;
  top: 5%;
}

#jellyFishSix {
  position: absolute;
  height: 4vw;
  animation: swim-jelly-three 4s infinite;
  top: 30%;
  left: 30%;
}

#tetraFish {
  position: absolute;
  animation: swim-back 5s linear infinite;
}


#bottle {
  height: 6vw;
  transform: rotate(45deg);
  width: auto;
  position: absolute;
  left: 60%;
  top: 45%;
  opacity: 0.5;
}

#bottletwo {
  height: 6vw;
  transform: rotate(-45deg);
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0.3;
}

#soda {
  height: 6vw;
  transform: rotate(-25deg);
  width: auto;
  position: absolute;
  left: 45%;
  top: 70%;
  opacity: 0.7;
}

#deadFish {
  height: 3vw;
  width: auto;
  position: absolute;
  left: 80%;
  top: 45%;
  opacity: 0.5;
}

#deadFishTwo {
  height: 4vw;
  transform: rotate(120deg);
  position: absolute;
  left: 70%;
  top: 40%;
  opacity: 0.5;
}


@media screen and (max-width: 768px) {
  p {
    font-size: 2.5vw; 
  }
  #whale {
    position: absolute;
    height: 20vw;
    width: auto;
    opacity: 0.2;
    top: 40%;
    left: 5%;
    transform: scaleX(1);
  }
  .jellyFamily {
    position: absolute;
    top: 40vw;
    left: 10%;
    height: 30vw;
    width: 30vw;
    opacity: 0.6;
    padding: 1%;
  }

  .mantaFamily {
    position: absolute;
    top: 30vw;
    right: 6%;
    height: 30vw;
    width: 30vw;
    opacity: 0.6;
    padding: 1%;
  }
  .jellyFamilyTwo {
    position: absolute;
    top: 60%;
    right: 10%;
    height: 30vw;
    width: 30vw;
    opacity: 0.3;
    padding: 1%;
  }
  #shark {
    position: absolute;
    height: 8vw;
    top: 50%;
    left: 55%;
    opacity: 0.5;
    transform: scaleX(-1);
  }
}

@media screen and (max-width: 540px) {
  p {
    font-size: 4vw; 
  }
  #whale {
    position: absolute;
    height: 20vw;
    width: auto;
    opacity: 0.2;
    top: 40%;
    left: 5%;
    transform: scaleX(1);
  }

  .jellyFamily {
    position: absolute;
    top: 60vw;
    left: 10%;
    height: 30vw;
    width: 30vw;
    opacity: 0.6;
    padding: 1%;
  }

  .mantaFamily {
    position: absolute;
    top: 50vw;
    right: 6%;
    height: 30vw;
    width: 30vw;
    opacity: 0.6;
    padding: 1%;
  }
  #shark {
    position: absolute;
    height: 8vw;
    top: 50%;
    left: 55%;
    opacity: 0.5;
    transform: scaleX(-1);
  }
}