// best seen at 1500px or less

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.underwater {
  height: 100%;
  width: 100%;
  position: absolute;
  // This is to make the gradient. found it on stack overflow a while ago.
  // Tpperantly the best way to make a gradient smooth but the issue remains
  // due to displays color range. not sure if this will stay as its kinda heavy.
  // I am planning on making stages that are darker and use paralaxing instead.
  background: url(../../images/gradient.png) repeat-x;
  background-size: 100% 100%;
}

.clouds {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  &__cloud {
    top: 1rem;
    width: 20rem;
    position: absolute;
    opacity: 0.5;
    animation: clouds infinite linear;
    &:nth-child(2n) {
      animation-direction: reverse;
    }
  }
  // bad attempt at making the clouds more random. they start of looking kinda shit but gets better after the animation
  // runs a few times. this could probably be done in js but this should be more efficent.
  @for $i from 1 through 6 {
    &__cloud:nth-child(#{$i}) {
      animation-duration: #{10 + $i * 5}s;
      animation-delay: -#{$i * 20}s;
      scale: #{1 + $i * .25};
      top: #{$i * 4}rem;
    }
  }

}

header {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(circle, #fffdbd 0%, #ffd272 100%);
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 50vw;
  transform-origin: top left;
  transform: translate(-50%, -50%);
  animation: heading 2s ease-in-out;
}

main {
  height: 200vh;
  position: relative;
  background-color: #0092ba;
}

.boat {
  position: absolute;
  width: 30rem;
  left: 10vw;
  bottom: 0;
  animation: bob 2.8s ease-in-out infinite;
  &__image {
    animation: float 2s ease-in-out infinite;
    transform-origin: center bottom;
    width: 100%;
    img {
      transform: scaleX(-1);
    }
  }
}

.wave {
  position: absolute;
  width: 100%;
  bottom: -1rem;
  height: 10rem;
  background: url(../../images/waves.png) repeat-x;
  background-size: 1800px 50px;
  animation: bgscroll 10s infinite linear;
}


@keyframes clouds {
  0% {
    left : -40rem;
  }

  100% {
    left: calc(100% + 21rem);
  }
}

@keyframes bgscroll {
  from {
    background-position: 1800px bottom;
  }

  to {
    background-position: 0 bottom;
  }
}

@keyframes float {

  0%,
  100% {
    transform: rotate(-2deg);
  }

  60% {
    transform: rotate(2deg);
  }
}

@keyframes bob {

  0%,
  100% {
    bottom: -.75rem;
  }

  60% {
    bottom: -1.5rem;
  }
}

@keyframes heading {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
   transform: scale(1) translate(-50%, -50%);
  }
}